
:root{
    --short: 7mm;
    --tall: 21mm;
    --picture-width: 40mm;
    --line: black 0.5pt solid;
    --line-dashed: black 0.5pt dashed;
    --bold-line: black 1mm solid;
}


@media print, screen {
    @page {
        margin: 0;
        size: 210mm 297mm; /* A4 */
    }

    .page {
        margin: 12.7mm;
        max-width: 210mm;
    }

    *:visited,
    *:link {
        text-decoration: none;
        color: inherit;
    }

    p,
    span {
        font-family: 'Times New Roman', 'Noto Serif CJK JP';
    }

    p {
        word-break: normal;
        line-break: strict;
        text-align: justify;
        font-feature-settings: "palt" 1;
        letter-spacing: 1pt;
    }

    .dashed-border {
        border-bottom: var(--line-dashed);
    }

    .solid-border {
        border-bottom: var(--line);
    }
    .solid-border-bold {
        border-bottom: var(--bold-line);
    }

    .solid-border-right {
        border-right: var(--line);
    }

    .label {
        width: 20mm;
        margin-left: 2mm;
    }

    .content {
        text-align: left;
        padding-left: 10mm;
    }

    .small {
        font-size: 3mm;
    }

    .middle {
        font-size: 4mm;
    }

    .large {
        font-size: 6mm;
    }

    .keyvaluepair {
        display: grid;
        grid-template-columns: 20mm auto;
    }
    
    .furigana {
        line-height: var(--short);
    }

    .section {
        margin-bottom: 2mm;
    }
    
    #title   {
        width: calc(100% - var(--picture-width));
        height: 15mm;
        display: flex;
        justify-content: space-between;
    }

    #content-date {
        align-self: flex-end;
        margin-right: 5mm;
    }

    #name {
        grid-template-rows: var(--short) 15mm;
    }

    #birthday-gender{
        grid-template-rows: 10mm;
        grid-template-columns: auto var(--picture-width);
        line-height: 10mm;
    }

    #address {
        grid-template-rows: var(--short) 21mm;
    }

    #sns {
        display: flex;
        flex-wrap: wrap;
    }
    #sns > * {
        line-height: var(--short);
        width: 50%;
        height: var(--short);
        box-sizing: border-box;
        border-bottom: var(--line-dashed);
    }
    #sns > *:nth-last-child(-n+2) {
        border-bottom: none;
    }

    #picture {
        margin-top: -14mm;
        text-align: center;
        border-bottom: var(--bold-line);
    }
    #picture > img {
        object-fit: cover;
        width: 33mm;
        height: 44mm;
    }
    
    .lefttop-label {
        line-height: 5mm;
    }

    .centered-content {
        width: 100%;
        text-align: center;
    }

    .block {
        margin: 1mm;
    }
    .block-content {
        margin: 3mm;
    }
}
